<div class="item">
  <% if(!item.name.empty?) then %>
    <p><%= link_to item.name, item_path(:item => item.name) %></p>
  <% end %>
  <% if(!item.image.nil?) then %>
    <%= image_tag(item.image) %>
  <% end %>
  <% if(!item.description.nil?) then %>
    <p><%= item.description %></p>
  <% end %>
  <% if(!item.price.nil?) then %>
    <p><%= item.price.to_s + " gold" %></p>
  <% end %>
</div>
