<h1>Staffs Picks</h1>
<div class="itemWrap">
  <%= render partial: "item", collection: @staff_items %>
</div>
<h1>New Items</h1>
<div class="itemWrap">
  <%= render partial: "item", collection: @new_items %>
</div>
